.my-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.header {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 10px 0;
}

.list-strings {
  max-height: 500px;
  overflow: auto;
}
